@import 'src/utils/utils';
@use 'sass:color';

.title {
  font-weight: 900;
  line-height: .9;

  @include media-breakpoint-only(xs) {
    font-size: 4rem;
  }

  @include media-breakpoint-only(sm) {
    font-size: 5rem;
  }

  @include media-breakpoint-only(md) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }
}

.back {
  z-index: $zindex-sticky;
  background-color: transparentize($gray-100, 1);
  border: none;
}
